<div class="center umbtron">
  <h1>What your recommend?</h1>
  
  <p>こんにちは、あなたのおすすめの本はなんですか？あなただけのおすすめの本棚を作りましょう。そして他の人のお勧めの本を知って興味を持ってみませんか？</p>
  <div class="container">
    <%= link_to "登録", "#", class: "btn btn-lg btn-primary" %>
    <%= link_to "ログイン", "#", class: "btn btn-lg btn-primary" %>
    <%= link_to "ゲストログイン", "#", class: "btn btn-lg btn-primary" %>
  </div>
</div>



