<% if logged_in? %>
  <div class="container zentai">
    <div class="row">

    </div>
    <div>
      <%= render 'shared/feed' %>
    </div>

  </div>
<% else %>
  <div class="container">
    <div class="nohome-top">

    </div>
    <div class="image-poji">
      <p>やばい、知らない土地だけどトイレに行きたい！<br>急いでトイレを見つけたいならコレ！</p>
    </div>
    <div>
    </div>

  </div>

<% end %>

