<% if logged_in? %>
  <div class="container zentai">
    <div class="row">
      <div class="col-md-12">
        <h3 class="home_dai">投稿されたトイレ<%=@feed_items.count %>つ</h3>
        <%= render 'shared/feed' %>
      </div>
    </div>
  </div>
<% else %>
  <div class="container">
    <div class="nohome-top">
      <%= link_to "#" do %><span class="badge badge-pill">ゲストログイン</span><% end %>
    </div>
    <div class="image-poji">
      <p>まだ知らない誰かに<br>あなたのおすすめの本を紹介しよう</p>
    </div>
    <div>
    </div>

  </div>

<% end %>



