<% if logged_in? %>
  <div class="container">
    <h3 class="home_dai">
      投稿されたトイレ<%=@feed_items.count %>つ
    </h3>
    <%= render 'shared/feed' %>
  </div>
<% else %>
  <div class="container">
    <div class="nohome-top">
      <%= link_to 'ゲストログイン', guest_sessions_path, method: :post, class:"guest_login" %>
    </div>
    <div class="image-poji">
      <p>やばい、知らない土地だけどトイレに行きたい！<br>急いでトイレを見つけたいならコレ！</p>
    </div>
    <div>
    </div>

  </div>

<% end %>

