<div class="container zentai">
  <div class="row">
    <div class="col-md-12">
      <h3> お気に入りしている数<%= @favorites.count %>つ</h3>
      <% if @favorites.present? %>
        <ol class="favorites">
          <%= render @favorites %>
        </ol>
      <% end %>
    </div>
  </div>

</div>

