<div class="container">
  <div class="row">
    <h3 class="favorite_title"> お気に入りしている数<%= @favorites.count %>つ</h3>
    <% if @favorites.present? %>
      <div class="favorites">
        <%= render @favorites %>
      </div>
    <% end %>
  </div>
</div>

