<div class= "container">
  <div class="row">
      <h3 class="noti_in">通知一覧</h3>
  </div>
      <% if @notifications.present? %>
        <div class="notifications">
          <%= render @notifications %>
        </div>
      <% end %>
</div>

