<% if @feed_items.any? %>
  <div class="row">
    <%= render @feed_items %>
  </div>
  <div>
    <%= will_paginate @feed_items, params: { controller: :static_pages, action: :home }  %>
  </div>
<% end %>
