<div class="container">
  <h1 class="login_title">トイレ情報の作成</h1>
  <div class="row">
    <div class="col-md-6 col-md-offset-3 section post_col">
      <%= render 'posts/post_form' %>
    </div>
  </div>
</div>
