@import "bootstrap-sprockets";
@import "bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap');

a {
  color: #4f5050;
  font-size: 15px;
}

.badge {
  background: #13b1c0;
  padding: 10px 9px;
}

body {
  font-family: "Kosugi Maru";  /* フォントを指定 */
  background-color: #f4f8fa;
}


.container {
  width: 100%;
}

.fas {
  color: #13b1c0;
  width: 30px;
}
///ヘッダー///

header{
  height: 70px;
}

.header-ul{
  list-style-type: none;
  height: 70px;
}

.header-ul li {
  display: inline-block;
  margin-right: 6px;
}


.head-logo {
  font-size: 30px;
  color: #13b1c0;
  margin-left: 20px;
}

.title{
  font-size : 30px;
  position: sticky;
  margin-top: 10px;
  margin-left: 20px;
}

.head_row {
  background-color: #ffffff;
  height: 80px;
  border-bottom: 5px solid #E5E5E5;
}

.search_title {
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 100px;
}

.search {
  width: 250px;
}

.home_dai {
  margin-top: 40px;
  margin-left: 220px;
  color: #13b1c0;
}


input.font-awesome {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
}

.logo {
  width: 30px;
}


.profile {
  margin: 30px 0 0 40px;
}

.title_us {
  font-size:24px;
  border-bottom: 1px solid #ddd;
  color: #13b1c0;
}

.title_moji {
  display: inline-block;
  font-size:24px;
  border-bottom: 1px solid #ddd;
  color: #13b1c0;
}

section {
  overflow: auto;
  margin-top: 60px;
}

.form-group {
  padding: 10px;
  height: 60px;
}

.textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;

}

h1{
  font-size:4em;
}
p{
  font-size: 0.8em;
  margin-top: 60px;
}

.adress_us {
  margin-top: 18px;
}

.freeornot_us {
  margin-top: 18px;
}

.unnko_us {
  margin-top: 18px;
}

.timestamp_us {
  margin-left:0;
}

/// プロフィールページ ////

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
}

input {
  height: auto !important;
}



.login-login {
  color: white;
  font-size: 1.2em;
  background-color: #13b1c0;
}

.login-mama {
  margin-top: 20px;
  text-align: center;
  opacity: 0.5;
}

.form-control {
  background-color: #f4f8fa;
}

.ac-donhave {
  text-align: center;
  margin-top: 80px;
  opacity: 0.5;
  font-size: 0.7;
  margin-bottom: 30px;
}

.ac-donhave a {
  color: #13b1c0;
}


#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}


.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

///投稿///

.show_posts_img{
  display: block;
  width: 300px;
  height: 300px;
  margin: 0 auto;
}

.post-image {
  margin: 40px 0 60px 0;
  width: 500px;
  height:300px;
}

.posts {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .content {
    display: block;
    margin-left: 60px;
    img {
      display: block;
      padding: 20px 0;
    }
  }
  .timestamp {
    color: $gray-light;
    display: block;
    margin-left: 60px;
  }
}

.post_show_h{
  font-weight: bold;
  margin-top: 40px;
  border-bottom: 1px solid #ddd;
  margin-bottom: 20px;
  padding-bottom: 8px;
}

.post_show_time {
  padding-top:50px;
}

.post-title {
  color:  #13b1c0;
  text-align: center;
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span.image {
  margin-top: 10px;
  input {
    border: 0;
  }
}

.post_nh {
  text-align: center;
}


.section {
  background-color: #ffffff;
}

//投稿個別ページ//
.post-user-name {
  display: inline-block;
}

h2.post-name {
  font-size: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: inline-block;
}

.post-info {
  margin-top: 30px;
  h5 {
    font-size: 16px;
    display: inline-block;
  }
  h4 {
    font-size: 20px;
    display: inline-block;
  }
}

.post-content {
  margin-top: 30px;
}

.change-post {
  text-align: right;
}

.edit-post .delete-post {
  font-size: 15px;
}

.under {
  margin-top: 30px;
}

///投稿全体///
.home_posts_img {
  width: 200px;
  height: 200px;
}


//新しい投稿を作るボタン//
.btn-record {
  margin-top: 3em;
}


//// 登録ページ ////
.input-need{
  color: red;
  font-size: 13px;
}

.input-unneed {
  font-size: 13px;
}

li.new_notification > a > span {
  color: red;
}



.checkbox{
  display:block;
}

._post_back{
  background-color:#ffffff;
  margin-top: 20px;
  margin-left: 100px;
  margin-right: 50px;
  height: 250px;
}

._post_name {
  text-align: center;
}
._post_sex {
  text-align: center;
}
