.post_col {
  margin-top: 30px;
  margin-bottom: 80px;
  padding: 20px 40px;
}


.login_title  {
  text-align: center;
  font-size: 2.0em;
  color: #13b1c0;
  margin-top: 30px;
}

.post_show {
  margin-top: 30px;
}
