// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


///show///
.profile.section {
  margin: 30px 30px 30px 50px;
  text-align: center;
}

.account-edit {
  margin-top: 20px;
  margin-bottom: 20px;
}

.oowaku {
  height: 250px;
  margin-left:30px;
  margin-right: 80px;
}

#post_zentai {
  margin-top: 40px;
  margin-bottom: 80px;
}

.profile_img {
  display: block;
  width: 200px;
  height: 200px;
  border-radius: 100px;
  object-fit: cover;
  margin: 40px auto 0 auto;
}

.profile_show_img{
  width: 100px;
  height: 100px;
  border-radius: 100px;
  object-fit: cover;
}

.show-user-name {
  display: inline-block;
  margin-top: 30px;
}

.user-image img {
  max-width: 100%;
  height: auto;
  box-sizing: border-box;
}


.user-image-box {
  margin-top: 30px;
  text-align: center;
}

.u_i {
  width:500px;
  height:250px;
}

h4 {
  .show-user-sex {
    margin-top: 10px;
    margin-left: 25%;
  }
}


.toukou_side {
  color:  #13b1c0;
}

.user_edi_ti  {
  text-align: center;
  font-size: 2.0em;
  color: #13b1c0;
  margin-top: 30px;
  margin-bottom: 30px;
}




///show_follow///
.follow_user {
  background-color:  #ffffff;
  text-align: center;
  margin-left: 100px;
  margin-right: 100px;
  padding-top: 20px;
  margin-top: 60px;

}


.follow_name {
  color: #565656;
}

.follow_sex {
  color:  #565656;
}


.users.follow {
  padding: 0;
  border-bottom: solid 1px #565656;
}

.follow_title {
  color: #13b1c0;
}

