<header class="navbar navbar-fixed-top navbar-inverse">
  <nav>
    <ul class="nav navbar-nav navbar-right">
      <li><%= link_to "自分ページ", "#" %></li>
      <li><%= link_to "ページの編集", "#" %></li>
      <li><%= link_to "ログアウト", "#" %></li>
    </ul>
  </nav>
</header>